#wrapper {
  padding-left: 0px;
  transition: all 0.4s ease 0s;
}
@media only screen and (min-width: 769px) {
	#sidebar-wrapper {
	  margin-left: -250px;
	  top: 0px;
	  left: 250px;
	  width: 250px;
	  background: #776219;
	  position: fixed;
	  height: 100%;
	  overflow-y: auto;
	  z-index: 1035;
	  transition: all 0.4s ease 0s;
	}
	.sidebar-nav {
	  position: absolute;
	  top: 0;
	  width: 250px;
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	.sidebar-nav li {
	  line-height: 40px;
	  text-indent: 5px;
	}
	
	.sidebar-nav li a {
	  color: #999999;
	  display: block;
	  text-decoration: none;
	  padding-left: 40px;
	}

}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}


.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #c2a233;
  background: rgba(255,255,255,0.1);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #c2a233;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #c2a233;
  background: none;
}



.content-header {
  height: 75px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 5px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
    text-decoration: none;
}

.btn-menu {
  color: #000;
} 

.inset {
  padding: 20px;
}

@media (max-width:768px) {

#page-content-wrapper{
	display:none;
}

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
	 /* margin-left: -250px;
	  top: 0px;
	  left: 250px;*/
	  width: 100%;
	  /*background: #776219;
	   position: fixed;
	 height: 100%;*/
	  overflow-y: auto;
	 /* z-index: 1035;*/
	  transition: all 0.4s ease 0s;
	}
#wrapper.active {
  padding-left: 0;
}

/*#wrapper.active #sidebar-wrapper {
  left: 0;
}*/

#wrapper.active {
  position: relative;
  left: 5%;
}

#wrapper.active #sidebar-wrapper {
  /*left: 250px;*/
  width: 90%;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: relative;
 /* top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;*/
}

.sidebar-nav li {
  line-height: 40px;
  text-align: center;
  border: thin solid rgb(244,244,244);
  border-radius: 7px;
  margin-bottom: 5px;
  background: #776219;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  /*padding-left: 40px;*/
}

.navbar-toggle{
	display:none;
}

#menu-toggle {
/*  display: inline-block;*/
  text-decoration: none;
}

#menu-toggle2{
	display:none;
}

.inset {
  padding: 15px;
}

#menu-down{
	display:block;
}

}
@media only screen and (min-width: 769px) {
	#menu-down{
		display:none;
	}
}